@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #1D657E;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.mainCont {
  display: flex;
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
}

.pokeCont {
  display: flex;
  justify-content: center;
  left: 0;
  height: 100vh;
  width: 50vw;
}

.textCont {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 50vw;
  height: 100vh;
  right: 0;
  line-height: 400%;
  padding-right: 5rem;
  padding-top: 10rem;
}

h1 {
  font-family: montserrat;
  margin-bottom: 2.5rem;
  text-align: right;
  font-size: 4em;
}

h2 {
  font-family: montserrat;
  font-weight: 400;
  text-align: right;
  font-size: 3em;
}

h3 {
  font-family: montserrat;
  font-weight: 400;
  text-align: left;
  font-size: 2em;
  line-height: 200%;
}

@media (max-width: 1024px) {
  .mainCont {
    flex-direction: column-reverse;
    height: 150vh;
  }

  .water {
    display: none;
  }

  .pokeCont {
    width: 100vw;
  }

  .textCont {
    width: 100vw;
    align-items: start;
    padding-left: 20px;
  }

  h1 {
    text-align: left;
  }

  h2 {
    text-align: left;
  } 
  
}

.water {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  mix-blend-mode: multiply;
}

.navbar {
  background-color: inherit;
  color: #fff;
  display: flex;
  position: absolute;
  justify-content: end;
  width: 99vw;
  padding: 10px;
  top: 5px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 960px;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.navbar-link {
  color: white;
  font-size: 16px;
  font-family: montserrat;
  font-weight: 350;
  margin-right: 90px;
  text-decoration: none;
}

.navbar-link:hover {
  color: aqua;
}

.navbar-menu {
  display: none;
  cursor: pointer;
}

.navbar-burger {
  top: 10px;
  left: 10px;
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: all 0.3s ease-in-out;
}

.navbar-burger.active:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}

.navbar-burger.active:nth-child(2) {
  opacity: 0;
}

.navbar-burger.active:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -9px);
}

@media screen and (max-width: 600px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 90vw;
    padding: 10px;
    background-color: inherit;
    border: white 1px solid;
    border-radius: 20px;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-link {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar-menu {
    display: block;
  }

  .textCont {
    padding-top: 15rem;
  }

  h2 {
    font-size: 2em;
  }
}


